In [1]:
!pip install pandas
!pip install pyarrow

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/raim/.local/lib/python3.10/site-packages (2.2.3)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.22.4 in /home/raim/.local/lib/python3.10/site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/raim/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in /home/raim/.local/lib/python3.10/site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyarrow in /home/raim/.local/lib/python3.10/site-packages (19.0.0)

In [2]:
import pandas as pd

In [43]:
data = pd.read_parquet(r"/home/raim/de-zoomcamp-2025/yellow_tripdata_2024-01.parquet")

In [44]:
len(data)

2964624

In [16]:
data.to_csv(r"/home/raim/de-zoomcamp-2025/yellow_tripdata_2024-01.csv")

In [12]:
df = pd.read_csv(r"/home/raim/de-zoomcamp-2025/yellow_tripdata_2024-01.csv", nrows=100)

In [17]:
df.rename(columns={'Unnamed: 0': 'ID'}, inplace = True)

In [36]:
df

,ID,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.0
1,1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.0
2,2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.0
3,3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.0
4,4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,1,2024-01-02 13:34:18,2024-01-02 13:38:13,1.0,0.70,1.0,N,263,75,1,5.8,2.5,0.5,2.00,0.0,1.0,11.80,2.5,0.0
99996,99996,1,2024-01-02 13:47:42,2024-01-02 13:59:26,1.0,1.70,1.0,N,236,238,1,11.4,2.5,0.5,4.60,0.0,1.0,20.00,2.5,0.0
99997,99997,2,2024-01-02 13:23:51,2024-01-02 13:36:29,1.0,1.87,1.0,N,236,162,1,12.8,0.0,0.5,3.36,0.0,1.0,20.16,2.5,0.0
99998,99998,2,2024-01-02 13:42:04,2024-01-02 13:48:39,1.0,1.58,1.0,N,229,263,2,9.3,0.0,0.5,0.00,0.0,1.0,13.30,2.5,0.0
99999,99999,2,2024-01-02 13:54:12,2024-01-02 13:57:25,1.0,0.64,1.0,N,236,263,2,-5.8,0.0,-0.5,0.00,0.0,-1.0,-9.80,-2.5,0.0

CREATE TABLE "yellow_taxi_data" (
"ID" INTEGER,
  "VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "Airport_fee" REAL
)

In [22]:
!pip install sqlalchemy
from sqlalchemy import create_engine

Defaulting to user installation because normal site-packages is not writeable
Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.37-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 13.5 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: typing-extensions>=4.6.0 in /home/raim/.local/lib/python3.10/site-packages (from sqlalchemy) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in /home/raim/.local/lib/python3.10/site-packages (from sqlalchemy) (3.0.1)
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-2.0.37

In [25]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [26]:
engine.connect()

In [27]:
print(pd.io.sql.get_schema(df, name ='yellow_taxi_data',con=engine))

CREATE TABLE yellow_taxi_data (
	"ID" BIGINT,
	"VendorID" BIGINT,
	tpep_pickup_datetime TEXT,
	tpep_dropoff_datetime TEXT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

In [28]:
df_iter = pd.read_csv(r"/home/raim/de-zoomcamp-2025/yellow_tripdata_2024-01.csv", iterator = True,chunksize=100000)

In [29]:
df=next(df_iter)

In [30]:
len(df)

100000

In [35]:
df.tpep_pickup_datetime  = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime   = pd.to_datetime(df.tpep_dropoff_datetime )
df.rename(columns={'Unnamed: 0': 'ID'}, inplace = True)

In [37]:
df.head(0).to_sql(name = 'yellow_taxi_data',con=engine,if_exists='replace')

0

In [38]:
%time df.to_sql(name='yellow_taxi_data',con=engine,if_exists='append')

CPU times: user 5.57 s, sys: 147 ms, total: 5.72 s
Wall time: 9.49 s

1000

In [40]:
from time import time

In [41]:
 while True:
     t_start=time()
     df=next(df_iter)
     
     df.tpep_pickup_datetime  = pd.to_datetime(df.tpep_pickup_datetime)
     df.tpep_dropoff_datetime   = pd.to_datetime(df.tpep_dropoff_datetime )
     df.rename(columns={'Unnamed: 0': 'ID'}, inplace = True)
     
     df.to_sql(name='yellow_taxi_data',con=engine,if_exists='append')
     t_end=time()
     print(f'inserted another chunk, took f{t_end-t_start} seconds')

inserted another chunk, took f9.136527299880981 seconds
inserted another chunk, took f9.112327337265015 seconds
inserted another chunk, took f9.082154750823975 seconds
inserted another chunk, took f9.64229965209961 seconds
inserted another chunk, took f9.6003737449646 seconds
inserted another chunk, took f9.382057666778564 seconds
inserted another chunk, took f9.70557188987732 seconds
inserted another chunk, took f9.59852123260498 seconds
inserted another chunk, took f10.997236251831055 seconds
inserted another chunk, took f10.7527334690094 seconds
inserted another chunk, took f11.172285795211792 seconds
inserted another chunk, took f10.56996774673462 seconds
inserted another chunk, took f10.274564266204834 seconds
inserted another chunk, took f9.972532749176025 seconds
inserted another chunk, took f10.210322856903076 seconds
inserted another chunk, took f9.94931435585022 seconds
inserted another chunk, took f10.069390535354614 seconds
inserted another chunk, took f10.271697998046875 seconds
inserted another chunk, took f10.06903886795044 seconds
inserted another chunk, took f9.755623579025269 seconds
inserted another chunk, took f9.979059934616089 seconds
inserted another chunk, took f10.990464687347412 seconds
inserted another chunk, took f11.598625659942627 seconds
inserted another chunk, took f10.677091836929321 seconds
inserted another chunk, took f10.818193674087524 seconds
inserted another chunk, took f9.953258752822876 seconds
inserted another chunk, took f9.987709522247314 seconds

/tmp/ipykernel_96554/1092842149.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df=next(df_iter)

inserted another chunk, took f9.335269212722778 seconds
inserted another chunk, took f5.850776195526123 seconds

StopIteration: